<%= render "shared/header" %>

<div class="main">
  
  <%= render "shared/top_search_form" %>

  <div class="top-page-main">
    <div class="container">
      <div class="stores-title pt-4 ">
        <h5 class="text-center"><span class="title">仮眠どころ一覧</span></h5>
      </div>
      
      <%= render partial: "shared/store_list", locals: { stores: @stores } %>

    <div>
  </div>
</div>

<%= render "shared/footer" %>