<div class="home-header text-center">
  <div class="home-title col-12">
    <h1>さあ、寝よう　　　　　　　　　　</h1>
  </div>
  <div class="search-form">
    <%= form_with(url: keyword_search_stores_path, local: true, method: :get) do |f| %>
      <%= f.text_field :keyword, placeholder: "店舗名・地名・駅名", class:" search-form col-6" %>
      <%= f.submit "検索",  class:"search-btn" %>
    <% end %>
  </div>
</div>

<div class="tag-index text-center">
  <div class="tag-index-title pt-4 ">
    <h5><span class="title">こだわりから探す</span></h5>
  </div>
  <div class="tag-index-list"> 
  <% @tags.each do |tag| %>
    <div class="top-tag ">
      <%= link_to tag.word, tag_tag_search_path(tag), class: "tag-word" %>
    </div>
  <% end %>
  </div>
</div>