.review-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #f5f5f5 solid;
}

.reviewer{
  display: flex;
}

.reviewer-name {
  margin-left: 50px;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.review-text {
  padding-top: 20px;
}

.review-form-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.rating-box .ratings .fa{
  font-size: 20px;
  color:#ffcc00;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 17px;
}
.review-textarea {
  height: 120px;
  width: 400px;
  border-radius: 10px;
  border:1px darkgray solid;
}

.review-btn {
  width: 25%;
  margin: 0 auto;
}

.review-btn-item {
  width: 100%;
  background-color: orange;
  color: white;
  border-radius: 20px;
  border: 0px none;
  height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.review-btn-item:hover {
  width: 100%;
  background-color: darkorange;
  color: white;
  border-radius: 20px;
  border: 0px none;
  height: 48px;
  font-size: 14px;
  cursor: pointer;
}